<%- include('partials/header'); %>

<h1>Post</h1>
<form  action="/post" method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><a href="" class="text-white">Add Note</a></button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"><a href="/upload" class="text-white">Add Photos</a></button>
    </div>
</form>


<%- include('partials/footer'); %> 